[2017-01-16 19:20] JonathanReeve opened #1 "Disambiguate <emph> tags"
This is an umbrella issue to track these more specific issues:

 - [ ] Disambiguate <emph> to <foreign> for foreign languages.
 - [ ] Disambiguate <emph> to <title> for titles of works.
 - [ ] Disambiguate <emph> to <said> for direct and indirect speech and thought.

[2017-01-16 19:21] JonathanReeve opened #2 "Disambiguate <emph> to <foreign> for foreign languages"
A sub-task of #1.

[2017-01-16 19:27] JonathanReeve commented on #2
Here are some interesting edge-cases:

[code]

There is no pre-existing language ID for this mix of French and English. But we might be able to define one in the TEI header like this:

[code]

Then we can mark it up like this:

[code]

I've documented this in CONTRIBUTING.md. Here's another case:

[code]

Gifford suggests that "Lacaus esant" is Bloom remembering the line "La cause è santa" from a

[2017-01-17 00:56] JonathanReeve commented on #2
This is almost finished with ca3f3bdaf005ea60bf7373d5c2766404bbc6139e, but I'll leave this issue open for now, awaiting any discussion about the edge-cases described above.

[2017-01-17 01:38] JonathanReeve opened #3 "Disambiguate <emph> to <title> for titles of works"

[2017-01-17 01:38] JonathanReeve commented on #3
Interesting edge cases:

This one might require a two-level title/subtitle approach:
[code]

This is a fictional title, presumably created by Lenehan on the spot:

[code]

This artwork is also the title of a song, according to Gifford:

[code]

This is neither a real newspaper in the real world nor in the fictional world of Ulysses:

[code]

I've tagged them as newspapers for the moment.

[code]

[2017-01-17 19:06] JonathanReeve opened #4 "Parse Joycean lexica for new instances of <foreign>"

[2017-01-17 19:15] JonathanReeve opened #5 "Disambiguate <emph> to <quote> for quotations from external works"
As Ronan pointed out, this could be good for passages such as:

[code]

[2017-01-17 19:21] yellwork commented on #5
I’m playing around in ‘Nestor’ and finding a lot of `<emph>` going to `<quote>`. For example:

[code]

Considering how often this riddle will return later in the book, is it possible to maintain a list of all `@source` values within the GitHub environment?

I’m also wondering if the attribute on `<p rend="inset">` isn’t redundant?

[2017-01-17 19:45] JonathanReeve commented on #5
Great idea. I wonder whether we can put a list of these in the header, assign them XML IDs, and then refer to the IDs in the text. Something like:

[code]

and in the header there could be something like:

[code]

or if there were an explicit bibliographic source, (which might not actually be the case with this one, but just as an example):

[code]

[2017-01-17 20:32] yellwork commented on #2
From the [Wikibooks](https://en.wikibooks.org/wiki/Annotations_to_James_Joyce's_Ulysses/Sirens/246) annotations to _Ulysses_ (line references adapted to our edition):

Interestingly enough, while both _corpusnomine_ at  11.1036 and _nominedomine_ at 11.1244 were tagged in `<emph>` (and Jonathan now has them, rightly, as `<foreign xml:lang="la">`), ‘Dominenamine’ at 6.595 is _not_ italicised in ‘Ha

[2017-01-17 20:46] yellwork opened #7 "Disambiguating <emph> into multiple taggings"
Here is an interesting example of typographic distinction opening up into multiple possibilities for tagging:
[code]
@JonathanReeve switched the inherited `<emph>` tagging for a `<foreign xml:lang="it">`. But the italics also render a quotation (not that every quotation is so distinguished!). Gifford has:

Is this then
[code]

Are there other examples in this vein?

[2017-01-17 20:51] yellwork commented on #7
Whereas
[code]
Is just an instance of `<title>` and not also `<foreign xml:lang="la">`?

[2017-01-18 18:50] JonathanReeve commented on #2
This is really interesting. I think you're right--we could mark up "Dominenamine" with `<foreign>`, but add a `@rend` attribute to indicate that it's not italicized, since that will be the default behavior for `<foreign>` tags. That way, it can be easily distinguished.

Although we _could_ define a new language for, say, corrupted Latin, that might be a slippery slope, since there is also corrupte

[2017-01-18 18:55] JonathanReeve commented on #7
I like the embedded `<quote>` and `<foreign>` above, with "All'erta". I agree with you about "Stabat Matter," too--I think just `<title>` is fine with that one.

[2017-01-18 19:34] yellwork commented on #2
OK, let’s go with `<foreign>` and `@rend="none"` for such cases. As I said, it’ll be a much slower job to track down these untagged `<foreign>`s in the episodes. ‘Proteus’, for example, has:

[code]
But we could easily add `<foreign xml:lang="fr" rend="none">` on ‘Paysayenn’. On ‘P. C. N.’ too? Or has Stephen switched to an English pronunciation of the letters to clarify matters?

I think the 'cor

[2017-01-18 19:51] yellwork commented on #7
Is it worth indicating that the bare words of such titles as encountered in the episode are also in Latin _&c._? I’m looking through ‘Proteus’ here. On an earlier pass for `<emph>` disambiguation, you rendered a few likely instances of `<title>` as  `<foreign>`:

[code]

Gotcha moment aside (!), this is valuable information that we don’t want clipped in the shift to `<title>`. How about something

[2017-01-18 19:51] JonathanReeve opened #8 "Reorder tags in Circe"
Here's Ronan's description of the issue:

Joshua and I realized `<lb/>`s should only be placed at the beginning of the first textual unit of a given line (i.e. preceding the first character of the first word). All tagging that also opens at that line – whether a `<p>`,  `<head>`, `<sp>` etc. – should also precede the `<lb/>`.

What needs to change for ‘Circe’, then, is swapping the order of any le

[2017-01-18 19:55] yellwork commented on #8
Looks great, Jonathan. I vote for going ahead and reordering the tagging. This issue can stand as our documenting rationale.

[2017-01-18 21:05] JonathanReeve commented on #7
I like that syntax of embedding the language in the tag. Let's do it.

And thanks for catching those mistakes! I've just corrected them, using your suggested syntax.

[2017-01-18 21:17] #8 closed

[2017-01-18 21:18] JonathanReeve commented on #8
I think I've fixed this one. Take a look and let me know what you think. If there's still something that needs to be done with this, feel free to reopen this issue.

[2017-01-18 22:01] yellwork commented on #8
Looks terrific, Jonathan!

The only thing I can think of—and this only occurred to me after I opened the episode in oXygen: sorry—is the cases where `<foreign>` or a residual, yet-to-be-disambiguated `<emph>` begins the reading-text line. For example(s):

[code]

Is it worth reopening the issue and reordering the tagging as follows?

[code]

I did a quick compute and there are about 23 instances o

[2017-01-18 22:44] JonathanReeve commented on #8
Cool. I just swapped `<foreign>`s and `<emph>`s with `<lb>`s in 58d741a above.

[2017-01-19 01:12] yellwork opened #9 "Retagging Joyce’s dialogue dash"
We’ve inherited the following tagging convention for Joyce’s dialogue markers throughout the corpus (episodes 15, 17, and 18 excepted):

[code]
`<said>` is just tag abuse here. Eventually it will be used to tag the direct speech, but that’s likely a task for the crowd.

I propose the non-controversial (?) global changes of:

1. all `<said>` nesting to be replaced with `<q>` nesting
2. all -- to  b

[2017-01-19 03:01] yellwork opened #10 "Disambiguate <emph> to <name> for ships"
For the names of ships, is it as simple as `<emph>` → `<name>`? Or perhaps `<emph>` → `<name type="ship">`? (Since I’m sure we’ll have further uses for `<name>`.)

Examples from the corpus:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

There are also a few _unmarked_ instances of ‘Erin’s King’ (one each in ‘Lestrygonians’ and ‘Nausicaa’) and Molly recalls (or does not qu

[2017-01-19 14:41] JonathanReeve commented on #10
I like `<name="ship">`. Then we can use `<name="horse">` for Throwaway and the other racehorses. I'll generalize this issue title.

[2017-01-19 14:50] yellwork commented on #10
Nice.
There are a few `<emph>Throwaway</emph>` in ‘Cyclops’ and at least one in ‘Circe’ too. The horse is named but rendered _unmarked_ in ‘Oxen’. If we want to track down and tag such instances, a `<name type="horse" rend="none">` ought to do it.

[2017-01-19 17:38] c-forster opened #11 "Add div types to divs in "Wandering Rocks"?"
There are `<div>`s around the sections. Should they have a `type`?

My naive guess would be "yes," and something as straightforward as "div type='section'" might suffice. But before over-hastily concluding so, I wonder about the vocabulary for types in *Ulysses* overall, particularly around two questions:

- **Chapters**: Given, the current architecture of this repo, I'm unsure for instance if one

[2017-01-19 20:02] yellwork commented on #11
Thanks, Chris. My initial sense was that we’d maintain the eighteen distinct files (in part because I want to pull all this rich markup into the eighteen episode-file version of _Ulysses: A Digital Critical and Synoptic Edition_ in development elsewhere). But I don’t see that conflicting with the double goal of making available all eighteen episodes in a single XML file and all eighteen episodes a

[2017-01-19 20:52] c-forster commented on #11
OK, so I think `<div type='section'>` makes sense here just to describe the sections; it will help avoid ambiguity with other types of `div` should, for instance, the episodes be combined together. The others you point to make some sense--though would you want each question/answer pair in "Ithaca" to be a `section`? Or even the 8 "sentences" of "Penelope." The `div` I can see... it's whether they'

[2017-01-19 21:16] c-forster commented on #9
So, I"m not sure if I see a big difference between `said` and `q`; I think replacing the double hyphen with a quotation bar makes sense.

My question is the following; why is speech kept within the preceding paragraph? For instance,

[code]
I know that in the Gabler edition, there is no **indentation** for quoted speech (though there is the Random House text), but I think of that as a sort of prin

[2017-01-19 21:18] yellwork commented on #11
I think this is where we make the existing scholarship do the work for us. “section” is a critical standard for the units in “Wandering Rocks”; just as “sentence” is for “Penelope.” (What else? what others?) Given the more distant analysis on the novel that this encoding will facilitate, I think it’s important that we separate out the different types (or `@type`) of `<div>` we encounter in the cor

[2017-01-21 17:42] JonathanReeve commented on #9
I'm in favor of converting the double hyphens to quotation dashes. I'll go ahead and do that, since that should be an easy `sed` operation. [The French examples in the TEI docs](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#COHQQ) have this syntax:

[code]

I like this syntax this best. Even better when it has the `@who` attribute. There's the variant that moves the dash to a `@rend`

[2017-01-22 18:24] JonathanReeve commented on #3
This should be complete with f54a443, and allow for some interesting analyses. Closing.

[2017-01-22 18:24] #3 closed

[2017-01-22 18:36] JonathanReeve opened #12 "Validate with continuous integration"
It'd be nice to automatically validate the XML on every commit, using a service like [Travis CI](https://travis-ci.org/), so that any errors can be flagged as they're created. This will be even more useful if we gain more contributors. Travis's integration with GitHub will allow us to see at a glance whether a pull request breaks validation in some way, e.g. if it's missing end tags.

The CI scrip

[2017-01-22 21:52] JonathanReeve opened #13 "Replace ampersands with XML entities (&amp;)"
Other characters are better off in unicode, for readability's sake, but ampersands are throwing off the validation. For this reason, we should replace all instances of `&` with the XML code `&amp;`, which will then be rendered as `&`. This seems to be mostly "professor of dancing &tc." in Wandering Rocks. I'll go ahead and do this on the `validate` branch.

[2017-01-22 22:24] yellwork commented on #13
Nice. I spotted the troublesome &s in WR (three of them, right?). I don’t think any other episode has a single ampersand.

[2017-01-22 22:40] #12 closed

[2017-01-22 22:40] #13 closed

[2017-01-23 04:16] yellwork opened #15 "changed -- to a spaced en dash"
I realised, as I was making this change, that it should have been introduced as an issue first of all. Sorry, guys. Here’s the phenomenon and my response. More than willing to hear different perspectives.

Our markup had a lot of double hyphens to indicate asides, for example:

[code]

which I changed globally to

[code]

i.e. A spaced en dash according to the Irish/UK convention. Is that Joyce’s

[2017-01-23 15:47] yellwork commented on #9
Direct speech _would_ typically be assigned its own `<p>`, nesting utterance for utterance. The ‘de-paragraphing of speech’, as he termed it then, was done by Hans Gabler last summer when he was originally preparing these project files for submission to the Oxford Text Archive. Though a 2016 innovation, it represents his editorial vision for _Ulysses_ more finely than was possible in TUSTEP back i

[2017-01-23 16:08] yellwork commented on #9
Thanks for making that global change, Jonathan. I think the syntax of the French example (†) looks very neat with, preferably, a `@who` attribute and attribution _eventually_ making it into the markup.

† Minus the space between the quotation dash and the first word of direct speech.

A colleague who’s into text mining suggested that nesting the quotation dash would simplify operations for his ana

[2017-01-24 00:51] yellwork commented on #9
Or, when there’s a cluster of `<said>―</said>` back and forth between speaking characters, would it be worthwhile just shifting all the `</said>` tags from after the quotation dash to the end of the line preceding the next `<said>`? That would give us the nesting for stretches of dialogue like the following:

[code]

[2017-01-24 15:36] yellwork opened #16 "Joyce’s/SD’s loanwords: are we tackling them?"
‘Proteus’ is an episode of edge cases. Today’s dilemma: loanwords.

As the cockle pickers pass Stephen on their way from the shore-line, he thinks to himself:

How would we encode this multilingual description in which translations for the verb ‘to drag’ from Yiddish / German (_shlepn_ / _schleppen_), French (_traîner_), and Italian (_trascinare_) have been ‘Englished’ or anglicized† in Stephen’s

[2017-01-24 20:42] c-forster commented on #9
The idea of compiling some list of utterance markers to automatically detect where to put `said` (or `q`) tags seems attractive to me, because marking speech seems very valuable, and the hassle of doing it manually serious.

It has made me sensitive to a nesting problem related to the question of de-paragraphing. Consider this example from "Scyalla and Charybdis."

[code]

How to best encode this?

[2017-01-24 21:54] yellwork commented on #9
Hi Chris,
Can you explain in a bit more detail what you mean? I get the example and it’s an interesting one – and, yes, that’s how I’d tag it (but for the extra  opening `<said>` before Eglinton’s second utterance). Are you asking what are we doing with interior monologue?

The larger unit would look like this, if it’s any help:

[code]

[2017-01-24 22:13] JonathanReeve commented on #2
I had a good chat with Hugh Cayless on the Digital Humanities Slack, and he has a few suggestions for improving the language encoding:

1. As the new RelaxNG validation indicates, `franglais` apparently isn't valid, but something like `fr-t-c0-en` might be. That's french with a mixture of English thrown in. There's [a discussion about these "hybrid" locales here](http://unicode.org/cldr/trac/ticke

[2017-01-25 03:10] c-forster commented on #9
Apologies if I'm unclear. This isn't supposed to be an interesting example; I'm trying to go for utterly typical.

Above in this thread I had wondered about **re**-paragraphing the *de*paragraphed speech. But were one to do that how would you mark it up? I.e. if, as is typical, direct speech is given its own paragraph, how would that be marked up?

Same passage as before, now trying to provide eac

[2017-01-25 12:35] yellwork commented on #9
But what would be gained by giving each instance of direct speech its own `<p>` tagging? (When ideally it's have a direct–speech-specific `<said>` nesting.)
The markup in place before the corpus-wide de-paragraphing (with a more nuanced `<said>`)  would have looked like this:

[code]

[2017-01-25 15:29] c-forster commented on #9
OK; I'm not sure why I was getting confused... apologies for the derailment.

So I guess my question boils down to: **preserve de-paragraphing or no?** I think I prefer the original (un-deparagraphed) markup for speech, though my reasons are simply that it seems more consistent with other novels (typographical) representation of speech. (And, I would argue, it is closer to what someone from outsid

[2017-01-26 16:54] yellwork commented on #9
Is this something that could be split into two separate tasks, Chris? Because while I’d love for the direct speech to be marked up – a huge task – I’d really rather the `<p>` paragraphing on every utterance wasn’t re-introduced right now. My sense is there’s plenty to be done with the XML that would benefit all projects before some of the more … debatable? changes were inflicted. At that point, al

[2017-01-26 17:45] yellwork commented on #2
Intriguing, Jonathan. More work but more nuance in the markup. I suppose you can tweak your tools to group French and French-_ish_ when they need to and to separate them when that’s preferable?

It makes me think too that Bloom’s
[code]
is probably Spanglish (`es-t-h0-en`?) as his “_Bueñas_” is not accurate. Or is this a separate nuance altogether? Or just `@type="corrupted"` again?

Where would s

[2017-01-27 15:05] c-forster commented on #9
Yes. Absolutely. I have no strong opinion here on how to nest paragraph and `said`s.

If I get a moment, I may try to tackle an episode--perhaps I'll try "Telemachus"--and share what I come up with via PR.

[2017-01-27 15:58] yellwork commented on #9
Terrific! I’ll take a shot at “Nestor” then over the weekend. I’ll also tackle some of the `@who` attribution in the episode.

Where would be the best place to store a list of values/speaker names? A comment on this thread that we would just continually edit/augment as the list grew?

[2017-01-27 20:02] yellwork commented on #9
I just did the `<said>` tagging for “Hades”. The episode has several instances of characters quoting the direct speech of others. For example, here’s Martin Cunningham and Mr Power quoting Tom Kernan:

—_Trenchant_, Mr Power said laughing. He’s dead nuts on that. And the _retrospective arrangement_. (_U_ 6.146–150)

We had already marked up the quoted direct speech using a `<said who="Tom Kernan">

[2017-01-27 21:12] JonathanReeve commented on #15
Looks great. I'll go ahead and close this issue, then, since it's complete. Thanks for opening it, though, as it'll be good record to have.

[2017-01-27 21:12] #15 closed

[2017-01-30 07:31] c-forster opened #18 "Marking up unitalicized titles?"
In "Telemachus" there are works mentioned that are not currently marked up, because they are not italicized in the print edition, and so were not marked up with `<emph>` tags. For instance:

[code]

I marked this up as follows in #17196501040 (I caught it incidentally and only remembered after the PR; apologies for confounding two issues in one PR):

[code]

Is that a reasonable way to handle this

[2017-01-30 07:35] c-forster commented on #9
Regarding direct speech quoted by another speaker; are you only marking it up when it is italicized? I think that might be defensible. Other cases, without a typographic marker, seem potentially open to differing interpretations of whether or not the character is being quoted.

[2017-01-30 13:17] yellwork commented on #9
Yes, I think so. We started tackling this phenomenon as part of the `<emph>` disambiguation. To go further – at least for now – would mean we could only be very selective.

[2017-01-30 13:30] yellwork commented on #18
Good call. That’s consistent with what we’ve been proposing for unmarked instances of `<foreign>` and `<name>`. There will be others, I’m sure.

It might be wishful thinking if we imagine that we’re going to catch everything, but we should certainly (eventually) aim to run all _marked_ instances of a given `<title>` or `<name>` or whatever against the rest of the corpus to turn up unmarked instanc

[2017-02-01 17:59] yellwork commented on #9
Following Chris’s lead, I’ve been shifting the closing `</said>` encoding in some of the shorter episodes. And adding intermedial tagging whereby

[code]
becomes
[code]

So far it’s been pretty straightforward if time consuming. I wonder is there any way to impose quality control on the results save by way of line-by-line or spot checking? Is it possible in GitHub for another user to revert to the

[2017-02-01 18:28] yellwork commented on #9
I didn’t do any of the `@who` attribution in the few episodes I covered. (I just sped through each file, tweaking the `<said>` encoding.) I wonder, though, when the time is right if we can put a list of _Ulysses_’s (speaking?) characters in the header, assign them XML IDs, and then refer to these IDs in the text? Something like:

[code]

and in the header we would have something like:
[code]
And s

[2017-02-07 02:17] JonathanReeve commented on #9
Declaring characters in the header is a great idea. I love the idea of writing out all we can about them, too. That'll make it really easy to extract all the dialogue from female characters and from male characters, and to run analyses that look at patterns in their respective speech.

There's something to be said for waiting on the XML IDs, though, for the moment, and just using the full names, s

[2017-02-08 14:38] yellwork commented on #9
Having character profiles sitting _somewhere_ will make for very interesting analysis. Bloom’s direct speech in “Eumaeus,” for example, is so different from anything else he says in the novel. I’d love to see that tackled properly. I’d also be really interested just to see the raw balance of dialogue between Bloom and Stephen.

For now, though, let’s continue with character names as `@who` values

[2017-02-08 14:41] yellwork opened #19 "Retagging Joyce’s dialogue"
This is a to-do issue to pick out the various tasks discussed in #9:

- [ ] Convert all double-hyphen dialogue dashes to the quotation dash or horizontal bar.
- [ ] Shift the `</said>` tags in `<said>―</said>` structures to the end of character speech. Add all intermedial `<said>` tagging.
- [ ] Add `@who` attribution for every instance of `<said>`. Use character names for the values.
- [ ] Switch

[2017-02-08 20:34] c-forster commented on #19
Having a to-do list for this seems wise. FYI: The following `ack` one-liner will extract names from the `who` attribute of `said` tags.

[code]
This will compile a sorted list of all the names across the corpus:

[code]
I was using it as a sanity check to catch misspellings when I marked up "Telemachus."

Could we also assign, or let people claim, episodes to mark up with dialogue on this, or anot

[2017-02-09 09:18] yellwork commented on #19
Good idea. Can we formally assign them or do we just call dibs here?

After you started `<said>` tagging, Chris, I snagged a lot of the low-hanging fruit (the less chatty, shorter episodes). Claiming the longer ones now makes sense because they’re likely to take a considerable bit of time to mark up.

Those ack commands will come in very handy once we start figuring out the speaking parts.

[2017-02-09 12:15] yellwork commented on #19
Going to do the `@who` attribution on “Proteus” now.

[2017-02-09 12:44] yellwork commented on #9
I was just looking at that incredible moment in “Proteus” when Stephen contemplates visiting his Aunt Sara and dreams up an entire imaginary conversation between his uncle Richie Goulding and himself  (with guest vocals from cousin Walter). Here’s some of it:

Despite the quotation dash and the multiple speaking parts, none of this conversation actually happens outside of Stephen’s mind. There’s s

[2017-02-09 12:51] yellwork commented on #19
Going to tackle `@who` on “Aeolus” now.

[2017-02-13 13:43] yellwork commented on #7
I was just finishing the `@said` tagging for “Lestrygonians” when I spotted something in the earlier encoding that gave me pause:

[code]

Really, these instances of `<foreign>` should all be `<quote xml:lang="it">`, shouldn’t they? I proposed a double encoding – `<quote><foreign>` – at the head of this issue, but I’m starting to think `<quote xml:lang="it">` (like `<title xml:lang="fr">` above) w

[2017-02-13 23:47] yellwork opened #20 "A tweak on the <emph> to <said> disambiguation"
We have a ·lot· of quoted direct speech within character dialogue in our corpus. An early instance:

Initially this was all tagged as `<emph>` on account of the italics. We had been tackling the `<emph>` to `<said>` disambiguation by just tagging the direct quoted speech the same way that we treat dialogue: `<said who="">` etc. We were trusting to the <said><said> nesting to indicate when direct s

[2017-02-15 21:58] JonathanReeve commented on #20
Great idea! I think this'll be an improvement.

[2017-02-15 22:02] JonathanReeve commented on #7
This sounds great. I think `<quote>` isn't rendered as italicized by default, though, so if we merge contiguous `<quote>` and `<foreign>`, we should probably add `@rend`, like `<quote xml:lang="la" rend="italics">` to preserve the rendering as italicized.

[2017-02-15 22:03] JonathanReeve commented on #7
And yep, this won't make too much of a difference in analyses, since we can just look for `@xml:lang` instead of `foreign`.

[2017-02-15 22:19] JonathanReeve commented on #20
The DTD validation is complaining that `@type` isn't valid for `<said>`. But it seems like there's an attribute for this: `@direct`. The [TEI docs](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-said.html) have it that indirect speech would be `<said direct="false">`. We can assume that otherwise it's direct speech (or thought), and so we don't need `direct="true"`. I'll go ahead and make

[2017-02-15 22:41] JonathanReeve opened #21 "Move @who attributes from <speaker> to <sp> for dramatic segments"
While validating our codebase against the DTD, the validator complains that `<speaker>` tags shouldn't have `who` attributes. I did a little looking around, and it looks like `<sp>`s can take them. The [TEI docs](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-sp.html) for `<sp>`s note: "the who attribute on this element may be used either in addition to the speaker element or as an altern

[2017-02-15 22:44] yellwork commented on #21
Hell, I really dropped the ball yesterday. Good catch, Jonathan – and at least you spotted this before we tackled the `@who` tagging for “Circe”!

Go ahead, I say, and make the changes in “S & C.”

[2017-02-15 22:44] #21 closed

[2017-02-15 22:51] yellwork commented on #20
Ah. I never checked the Travis CI. Good catch.

I didn’t realize `@type` wasn’t valid but I had read through the `<said>` description and looked longingly at `@direct`. Is it a slight tag abuse for us to use it now to describe direct speech being quoted within direct speech or do we limit its application to the few cases of recalled (italicised) direct speech that I highlighted above?

[code]
I ad

[2017-02-15 23:01] JonathanReeve commented on #20
Good questions. I think we can keep the nested `<said>` structure as-is, but adding `direct="false"` where appropriate would be a good idea. That way we can distinguish between a character's actual speech (as reported by Joyce, at least) and his speech as reported by some other, potentially less reliable, character.

As for italics, you're right--it might be a good idea to add `rend="italics"` her

[2017-02-15 23:05] JonathanReeve commented on #18
Since this issue looks settled, I've just added this convention to CONTRIBUTING.md (see https://github.com/JonathanReeve/corpus-joyce-ulysses-tei/commit/953a5e12276a3ab157c4a25ea93d7b0b7af147aa#diff-6a3371457528722a734f3c51d9238c13R55), so that we can close this issue. Feel free to reopen later, though, if edge cases come up.

[2017-02-15 23:05] #18 closed

[2017-02-15 23:09] yellwork commented on #20
OK. Sorry, I should have raised this as an issue instead of marching ahead and making a load of changes!

So our convention is, ultimately, to disambiguate inherited `<emph>` into `<said>` in two different ways, right?

(1) If a character quotes direct speech within her speech, we’re encoding it like this:

[code]

(2) If direct speech is recalled in interior monologue or (occasionally) represente

[2017-02-15 23:17] JonathanReeve opened #22 "Validate with RelaxNG"
People tell me that our current validation schema, a DTD, has long been outdated, and has since been replaced with RelaxNG. There's an RNG schema for TEI that I've put in `schema/`, `tei_all.rng`, which seems to be an even better validator than the DTD. It's a little *too* strict, however, and there are some issues with it.

For one, it doesn't seem to be able to handle xincludes, so the only way

[2017-02-15 23:26] JonathanReeve commented on #16
I really like this idea. Let's do it. The only thing I can think of would be something like `<seg type="loanword" subtype="fr">`.

This seems related to the neologism/Joyceanism/compound word markup we're doing for _Portrait_ in https://github.com/JonathanReeve/corpus-joyce-portrait-TEI/issues/36. For those, we're using `<seg type="neologism">`, but I can imagine getting more descriptive, and usin

[2017-02-15 23:28] JonathanReeve commented on #20
Sounds great! I'll go ahead and add this to our conventions document.

[2017-02-15 23:36] JonathanReeve commented on #19
@c-forster, that `ack` hack is great. I use `ag`, "The Silver Searcher," myself, and was able to get it to work the same way using `ag --nofilename -o "(?<=<said who=\")[\w\'\. ]*" *.xml | sort | uniq`. I'll put this into a makefile so that we can run these sorts of things easily.

[2017-02-16 00:21] yellwork commented on #20
Great! I'm going to quickly go through all the `@direct` and turn them into types (1) or (2) above. Shouldn't take long. (Unless you're already working on it?!)

[2017-02-20 11:53] yellwork commented on #16
What about using something like `distinct`?

We could `@type` this to include values like "loanword" "non-standard compound word" (or an abbreviation) "archaism" _&c_. Admittedly, implementing this tagging is likely a while off yet and a task that would require a dedicated crowd of encoders.

[2017-02-23 12:34] yellwork commented on #20
With the addition to our conventions document, I feel like this issue is now closed. (Always happy for it to be reopened if needs be.) R

[2017-02-23 12:34] #20 closed

[2017-02-23 12:42] yellwork commented on #11
I replaced the section `<div>` with `<div type="section" n="*">` across the “Wandering Rocks” episode, but I feel like there’s enough interesting material left flagged in this issue _not_ to merit closing it. So I’m retitling the issue and starting a separate issue for the “WR” interpolations.

[2017-02-23 12:44] yellwork opened #23 "Interpolations in “Wandering Rocks”"
@yellwork asks:

@c-forster responds:

I think marking this up would be a good idea--but I think it would require a different strategy. The divs are not granular enough (you want to be able to the interpolated/reiterated text, not just the section from which it came, right? Would something like this work, using <spans> and refs?

[code]
And, later in the same file:

[code]

There is, in "Wandering

[2017-02-23 13:06] yellwork commented on #23
What about using a combination of `<seg>` and `<span>`?

For example:
[code]

[code]

And then elsewhere in the XML file:

[code]

Would we want to include the `@n` values from the surrounding `<div type="section" n="*">` nesting?

[2017-03-04 23:53] JonathanReeve opened #24 "Compute average utterance length for characters"

[2017-03-07 17:35] yellwork opened #25 "<listPerson>ing the speakers"
I’m reading through the guidelines for `<listPerson>` and its associated elements and trying to figure out how best we might capture the speakers of _Ulysses_. (An unaddressed question here is whether or not we want to include characters named in the novel but who do not speak and, in turn, whether or not we plan to encode all instances of character mentions in the novel.)

The generic speaker is

[2017-03-07 21:35] yellwork commented on #25
Between the eighteen episodes and our `<said>` and `<sp>` encodings, there are ~360 speakers in the corpus [[list](https://github.com/JonathanReeve/corpus-joyce-ulysses-tei/blob/master/persons.txt)]. The inevitable mistakes and gaps aside, some of these might be flattened to a group speaker:

Others, like the multiple speakers labelled ‘A Voice’ in ‘Circe’, might need further disambiguation. Just

[2017-03-13 16:18] JonathanReeve opened #26 "Add explanatory section to the header of the prototype"
If anyone should land on [the prototype page](http://ulysses-tei.netlify.com/), it'd be helpful to explain what it is, and link to the repository.

[2017-03-13 16:19] yellwork commented on #26
Good point. I'm happy to draft something if you want to handle the XSLT to get it into the HTML file?

[2017-03-13 17:08] JonathanReeve commented on #26
Sounds good!

[2017-03-13 21:50] JonathanReeve commented on #16
`<distinct>` sounds great. Let's do it. I might know someone that might be interested in helping out with this--the maintainer of the [Joyce Word Dictionary](http://www.joycewords.com/). Loanwords, compound words, dialectical words, and related words would be good to track. I agree, though, that this seems low-priority.

[2017-03-19 15:20] JonathanReeve commented on #16
This is what I've been thinking: `<distinct type="X">`, where `X` is one of:

 - `compound`: the word exists in the OED, but in its hyphenated form, _except_ words whose only citations are from Joyce
 - `nonstandard-compound`: a compound word not found in the OED, even in hyphenated form, but composed of two words that are found in the OED
 - `dialect`: nonstandard dialect, slang, etc, whether or

[2017-03-20 14:33] yellwork commented on #16
Sounds great, Jonathan; I particularly like `compound` and `nonstandard-compound` as values. I think this system covers most of our cases. The only other instances that might be worth flagging are **(1)** Joyce’s extensions of the meaning of a pre-existing word – a subtype of `@type=Joycean` perhaps? – and **(2)** his use of an obsolete or archaic sense of an otherwise still-current word (subtype

[2017-03-20 14:40] yellwork commented on #16
This is fun as an intellectual exercise – he says, having started the thread – but it’s also more or less academic until we start the business of encoding.

In that vein, have we any way of filtering out all the non-`<distinct>` words? Running the corpus through a few different spell checkers might reduce the total lexicon down to something more manageable, for example. Or could we cross reference

[2017-03-26 19:20] cderven opened #27 "Identifying place names in Ulysses"
Tagging the corpus to identify place names might form an interesting parallel to some of the work that you’ve been doing to date. Would others see it as sufficiently interesting to identify toponyms, provide some basic geocoding, and then possibly link the locations to external sources like GeoNames?

I’m thinking of the convention in TEI to use `<placename>` to identify toponyms and `<place>` to

[2017-03-28 12:51] NChenier commented on #16
Hi Jonathan and Ronan,

This is indeed a fun exercise! Another person worth consulting about how to categorize Joyce's neologisms would be [Elizabeth M. Bonapfel](http://www.fu-berlin.de/en/sites/dhc/nachwuchs/fellowships/Bonapfel/index.html). She presented a brilliant paper on the topic on [the Joyce panel](https://apps.mla.org/conv_listings_detail?prog_id=146&year=2017) I organized at this year'

[2017-03-29 17:38] yellwork commented on #16
Great stuff, Natasha. Once we are all happy with the encoding conventions for `<distinct>` words in the corpus, we’ll make the rules easily accessible in the project [CONTRIBUTING.md](https://github.com/JonathanReeve/corpus-joyce-ulysses-tei/blob/master/CONTRIBUTING.md) file.

I know Elizabeth well and thought of her in the context of Joyce’s word-compounding. I’ll give her a buzz and direct her h

[2017-03-29 18:06] yellwork commented on #16
Also, @NRChenier, I meant to ask: have you found any useful compendia / articles / glossaries of Joyce’s non-standard compound words or neologisms etc? I’m wondering if some of the task of tracking down these instances of `<distinct>` hasn’t been done for us already (in Joyce crit. over the last sixty years or so). Or have you any ideas how we might isolate the terms? Cheers!

[2017-03-29 22:06] yellwork commented on #27
Sorry it took me a few days to chime in here, Caleb, but this is a terrific idea. It would be incredible to get some geotagging into the edition. Have you a sense of anyone who might have compiled a dossier of the place names (if not the `<placeName>`s) that are mentioned in the book? As always, I’m thinking how great it would be if we could automate some of this labour – or take advantage of exis

[2017-04-03 14:19] NChenier commented on #16
Sounds great @yellwork . And as per useful glossaries: none that I am aware of, besides that put forth by Elizabeth in the paper she presented. It is v helpful! Let's get her in here. You will contact her? I would also be happy to.

And good question re: isolating Joyce's <distinct> terms. As far as I know, nothing substantial has been done on this front, in the digital realm, as yet. It's a tough

[2017-04-07 15:02] cderven commented on #27
I've taken longer respond to you Ronan! I haven't come across any full gazetteers for Ulysses. There may be a variety of potential options here though.

1. Existing annotations like Gifford's or Slote's are definitely viable tools.
2. Different geotagging tools (Named-Entity Recognition software, etc.) certainly allow partial automation of the process. There are issues around accuracy and precisio

[2017-05-05 12:03] yellwork commented on #27
These all sound like very promising suggestions, Caleb. (He says four weeks later.) Slote/Gifford certainly catch a lot but the challenge would be wading through the annotations to find the location-specific ones. I’ve no issue with us using named-entity recognition software and geotagging place names. One question I’d have would be how are the mentions of place names distinguished? I doubt that e

[2017-05-11 19:16] cderven commented on #27
There's certainly a need for a strong typology of place to disambiguate these different types of mentions, Ronan. With the small piece of work that I did, I used the model developed for the Literary Atlas of Europe.

I'll upload the work that I've done (probably next week) which may be a good starting place around a discussion of typology, modelling, etc.

[2017-05-18 15:51] JonathanReeve commented on #27
Hi Caleb,

This idea is great. You might be able to use Moacir's geolocations from his Wandering Rocks project, which look like [they're up here](https://github.com/muziejus/wandering-rocks/blob/master/data/instances.csv). He says that he's noticed a few problems in Gifford that he's corrected in the data there.

Feel free to push to GitHub as you're working--no need to upload it all at once. Then

[2017-05-19 18:47] JonathanReeve opened #28 "Merge with Portrait project"
Maybe create an umbrella organization on GitHub first?

[2017-05-19 18:49] JonathanReeve opened #29 "Deposit with institutional storage"
ModNets recommends that we back up the project periodically to an institutional repository. Columbia Academic Commons? [Open Science Framework](https://osf.io/)?

[2017-05-19 19:52] JonathanReeve opened #30 "Identify character thought"
This might be done computationally, if we could identify [linguistic features](http://journals.sagepub.com/doi/pdf/10.1177/0963947010362914) that could help us to pick out regions of stream-of-consciousness.

[2017-05-23 16:02] JonathanReeve commented on #29
This is a really interesting and complicated problem, it looks like. OSF has GitHub integration, but it's not backed up to their systems by default. To get it to back up from GitHub automatically, it'd be a matter of writing something to interface with [their API](https://developer.osf.io/#Introduction_attribute_validation). Columbia Academic Commons says they only accept "finished" projects, but

[2017-05-23 16:13] JonathanReeve commented on #29
It looks like [Zenodo](https://zenodo.org/) can do what we need. It operates on releases, so we'd first need to create numbered releases (it doesn't really matter what state they're in). Probably best to merge the two editions under an umbrella organization, first. Then these two editions will get a DOI!

[2017-05-24 13:13] tcatapano commented on #29
@JonathanReeve: my organization Plazi uses and works closely with the developers/maintainers of Zenodo (we manage https://zenodo.org/communities/biosyslit/). Please let me know if you have any questions or need any help with it. Would be happy to help.

[2017-05-24 18:30] JonathanReeve commented on #29
Thanks @tcatapano! I just got it set up, so now we should have backups at Zenodo. Now all I have to do is remember to make a new release every now and then. It's nice having DOIs for these projects!

[2017-05-24 18:30] #29 closed

[2017-08-03 21:41] yellwork opened #31 "Using <lg> over <p> for offset poetry?"
In the course of disambiguating some lingering `<emph>` encodings in the episodes, I have been thinking about the way we encode all the inset, typographically offset poetry. Here’s an example from “Telemachus”:
[code]
Really, though, why would we be calling this a `<p>`? Shouldn’t it be a one-line `<lg>`?
Or, better yet, take this example from “Proteus”:
[code]
We can’t use `<quote>` to disambigua

[2017-08-05 16:56] JonathanReeve commented on #31
Sounds great! You're totally right, these should be `<lg>`s instead of `<p>`s.

As an aside, I'd always instinctively assumed that "Madeline the mare" is a quote of some sort, but I guess it's not! At least, not one that I can find in Google Books or via Gifford. I did find [this note](http://m.joyceproject.com/notes/030127madelinethemare.html), though. This is the first time that I've seen [The J

[2017-08-07 12:40] yellwork commented on #31
Me too, but computer says _No_. I’ve had my eye on the Joyce Project as well – I was thinking it’d be nice to integrate their work on People in the Novel into our data (esp. as we work on our `@who` values). We might reach out further down the line?

How does this nesting look for `<lg>`s?

[code]
The `@rend` value might have to record spacing and inset rather than italics, I suppose.
And for line

[2017-09-13 14:51] JonathanReeve opened #32 "Investigate avenues for incorporating data from Joyce Tools"
I just discovered [Joyce Tools](http://www.riverrun.org.uk/joycetools.html) today, and I just thought I'd put a stub issue here for incorporating some of its data. I searched far and wide for an electronic copy of Thom's Directory last year, so I'm very happy to see that it's here. I don't yet know all the ways that this can be used, but already the ability to use these raw source materials (and l

[2017-10-01 02:37] JonathanReeve opened #33 "Mark up tables and ledgers"
See [this section of the TEI guidelines](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/FT.html)

[2017-10-01 13:59] JonathanReeve opened #34 "Add explanatory notes"
See [the TEI spec for `<note>`](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-note.html)

[2017-11-02 16:33] yellwork commented on #19
I’m simplifying this. A `⟨listPerson⟩` for the entire novel would be incredible, but … too much work for now. So I’m going to switch all `@who` values to character initials and put the key in the separate plaintext file persons.txt.

[2017-11-02 16:34] #9 closed

[2017-11-02 19:13] yellwork commented on #28
This issue can be closed now, right?

[2017-11-03 14:45] JonathanReeve commented on #28
Yep, I think so. Ideally, we'd have some sort of way to avoid haing redundant Travis / XSL / other code that's shared between the two projects, but I don't know of a simple way to do that at the moment. Closing.

[2017-11-03 14:45] #28 closed

[2017-11-03 14:49] JonathanReeve commented on #19
Sounds good. I'm not seeing the key in persons.txt, though? Anyway when it's there, if it's in some kind of regular format, like comma- or tab-separated, then it'll be easy to make a list of these keys to add to the header.

[2017-11-03 14:52] yellwork commented on #25
Closing this issue for now. It can always be reopened once we start the `<listPerson>` conversation again.

[2017-11-03 14:52] #25 closed

[2017-11-03 14:54] yellwork commented on #19
I’m doing it all offline while I go through all eighteen episodes. I’ll merge them all into the repository once done.

My local persons.txt looks like this:

db	[tab]Davy Byrne
dbc	[tab]Davy Byrne's curate
dbm	[tab]D.B. Murphy
dd	[tab]Dan Dawson
did	[tab]Dilly Dedalus

That could be the basis for a `<listPerson>` – information I’d love to see added but too much for us right now (I feel).

[2017-11-03 15:53] JonathanReeve commented on #19
Awesome, sounds great.

Ronan Crowley <notifications@github.com> writes:

[2017-11-03 15:56] yellwork commented on #19
Some content that was marooned in the closed #9 was your suggestion, Jonathan, for unclear `@who` values. Something like:

[code]

I’m going to go ahead and use this encoding whenever an unclear speaker is limited to a handful of candidates. Unless you’ve another idea?

[2017-11-05 16:47] JonathanReeve commented on #19
Sounds great. Let's do it. I'll make a note of this in our conventions
list, too.

Ronan Crowley <notifications@github.com> writes:

[2017-11-05 16:52] JonathanReeve opened #35 "hide <certainty> content in XSL"
We're encoding certainty like this:

[code]

...but this obviously shouldn't appear in the transformed HTML output.

Ideally, when displaying the dialogue tags for this, we'd have some kind of dotted line or something to indicate fuzziness.

[2017-11-05 17:15] yellwork commented on #35
This makes sense to me. I can imagine a few different visualizations. Where it gets more interesting is deciding what such ambiguity means for a statistical analysis of speakers and their speech. (I suppose, too, that Joyce’s male characters are too poorly distinguished for such analysis to resolve the ambiguity of who is speaking?)

btw I labelled the xml:id with the line number followed by the w

[2017-11-05 17:16] yellwork commented on #35
On second thoughts, moving the question of encoding an unattributed exchange to #19.

[2017-11-05 17:17] yellwork commented on #19
How do we attribute dialogue in an exchange between several people ? There’s a spot like this in Hades where no speakers are given for several lines of dialogue:

[code]
The unclears can only be Cunningham, Power or Simon Dedalus (with Bloom, perhaps, chiming in at U 6.117). How best would that be encoded?

[2017-11-08 15:24] JonathanReeve commented on #19
I read [the TEI docs on `<certainty>` again](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/examples-certainty.html) but this is the best I could think of:

[code]

...which is super kludgey and not very DRY. Ideally we could do `target="#060116 #060118 #060119"` on a single `<certainty>` set, and avoid all this repetition, but [it doesn't look like XML can handle multiple attribute values](h

[2017-11-17 21:37] charlesreid1 opened #37 "Fixing Travis"
It appears the Travis CI system is broken, because it is looking for the repository JonathanReeve/corpus-joyce-ulysses-tei instead of open-editions/corpus-joyce-ulysses-tei. The Travis page states the repo is missing: https://travis-ci.org/JonathanReeve/corpus-joyce-ulysses-tei

@JonathanReeve would it be possible for you to update this when you get some time?

[2017-11-20 17:42] JonathanReeve opened #42 "Mark up cross-references"
See the discussion in #39.

[2017-11-20 17:57] JonathanReeve commented on #37
It looks like Travis has moved to a new Ubuntu machine which didn't have `xmllint`. I added an `apt` line or two to fix this. This should be all set now. The build is failing at the moment because of a DTD error, but at least it's failing correctly! :sweat_smile:

[2017-11-20 17:57] #37 closed

[2017-11-20 17:59] JonathanReeve commented on #37
Oh, I should say, the Travis builds are now at https://travis-ci.org/open-editions/corpus-joyce-ulysses-tei. I should update the links in the README to reflect that.

[2017-11-20 19:19] charlesreid1 commented on #37
Cool! Thanks for the fix. I'll see if I can't get that DTD issue fixed now...

[2017-11-21 10:49] yellwork commented on #42
I love the idea of a `cross-references.xml` dossier of connections and interconnections and reiterations. I particularly like that it doesn’t burden the episode TEI unduly. Would the WR interpolations, for example, also find a home in this separate file?

Just a thought on the `xml:id` naming convention: since we want to leave space for further references of a given kind that might crop up, what i

[2018-03-14 13:13] JonathanReeve commented on #16
Hey everyone! I'm going to add some of these tags in Telemachus.

[2018-03-14 13:26] JonathanReeve commented on #30
I'm going to mark up some character thought in Telemachus.

[2018-06-15 19:35] JonathanReeve commented on #30
Use `<said who="bm" aloud="false">` for Buck Mulligan thinking something.

[2018-10-08 17:07] JonathanReeve opened #48 "Integrate data from other sources"
There are quite a few interactive editions of _Ulysses_ out there:
 - [The Joyce Project](http://www.joyceproject.com/)
 - [Infinite Ulysses](http://infiniteulysses.com/) - [machine-readable data is available as PHP objects exported from Drupal](https://raw.githubusercontent.com/amandavisconti/infinite-ulysses-public/master/Annotations/node_export.txt)
 - [This older edition at Columbia](http://ww

[2018-11-20 17:29] JonathanReeve commented on #4
[It looks like at least one of the O'Hehir lexica is online, here.](http://digicoll.library.wisc.edu/cgi-bin/JoyceColl/JoyceColl-idx?type=article&did=JoyceColl.OHehirClassLex.i0011&id=JoyceColl.OHehirClassLex&isize=M)

[2018-12-07 21:05] JonathanReeve opened #49 "Automatically identify and categorize place names"
1. Do some NER to find place names (SpaCy? Entity type: place) [Here is some documentation from SpaCy](https://spacy.io/api/annotation#named-entities)
2. Automatically look up that place name in DBPedia, using the DBPedia API and the Python `requests` library.
 - [Here's an example JSON object returned.](http://dbpedia.org/sparql?default-graph-uri=http%3A%2F%2Fdbpedia.org&query=DESCRIBE%20%3Chttp%

[2018-12-07 21:07] JonathanReeve commented on #49
@MatthewKumar, want to give this a shot?

[2018-12-07 21:08] JonathanReeve commented on #49
This is very closely related to #27, and is partially complete in #41.

[2018-12-07 21:10] JonathanReeve commented on #49
See also https://github.com/open-editions/corpus-joyce-portrait-TEI/issues/90. It's best to have place name metadata in a separate file, say, places.xml, and each place name in the text is referenced by an xml id. [Here's some TEI documentation](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ND.html#NDGEOG)

[2018-12-07 21:54] JonathanReeve commented on #49
We should also integrate @muziejus's Wandering Rocks data: https://github.com/muziejus/wandering-rocks/blob/master/data/instances.csv

[2018-12-08 21:40] JonathanReeve opened #50 "Link to criticism"
Since it's not terribly hard to use Zotero to download lots of PDFs concerning _Ulysses_ from common databases (JSTOR, Project Muse), it'd be relatively easy to text-match between our _Ulysses_ text and some of the more well-known critical articles.

We could even match on books by scripting something to query Google Books or Hathi Trust for every five-gram in the novel. The process would take a w

[2019-09-28 21:22] droher opened #51 "List of additional Joycean compounds"
I wrote a hacky algorithm to find likely Joycean compounds. It excludes any words already tagged as compounds in the XML, as well as any words inside of a foreign language tag. There are plenty of false positives, but it does a pretty good job at sending likely ones to the top of the list:
[compound_guesses.txt](https://github.com/open-editions/corpus-joyce-ulysses-tei/files/3666002/compound_guess

[2019-09-29 04:59] JonathanReeve commented on #51
That's great! This is really cool. How do you imagine encoding it? A quick guess of mine might be:

 - leave a note in the teiHeader somewhere about how you did the inference of the word components
 - [abuse the `<reg>` tag to show the regularized form (i.e. two words reconstructed from their compound](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#COEDREG)
 - wrap it in `<choice>` t

[2019-09-29 12:36] droher commented on #51
This is the first TEI doc I've ever used, so I would defer to you on the right encoding. If we go the `reg` route above, does that mean that the text inside of those tags would be picked up as `text` properties by XML parsers? Would there be a way to include them as attributes of an element instead?

Also I think the example you chose is one of the very few that would have two different interpreta

[2019-09-29 16:20] JonathanReeve commented on #51
So far, we've just maintained a list of these tags that shouldn't be rendered as text during a transformation, but we could make that more explicit in the markup by adding a property like `rend="none"`, which I might put in `<choice>`.

There's a way to indicate which of two choices is the primary one, maybe using [`certainty`](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-certainty.htm

[2019-09-30 10:51] droher commented on #51
Great, aiming to get the PR up this coming weekend.

The concern I have around both the tag list and the `rend=None` options is that they're not as obvious to users (like me) who are expecting the `text` properties of the XML to just contain the text of Ulysses. If there are already examples like this in the XML, then adding one more wouldn't be a problem - maybe the solution is just calling those

[2019-10-01 06:22] sk3853 commented on #51
Hi guys- with regards to Joyceans: I'm curious as to what variables your algorithm included to distinguish Joyean compounds from nonstandard-compounds, which was my biggest difficulty when going through this manually.
I think that it would be most efficient and consistent to tag these words as <distinct type="Joycean">example</distinct>, if you're confident that he coined the terms. Once I finish

[2019-10-01 11:09] droher commented on #51
Hi @sk3853, could you give an example of "Joyean compounds from nonstandard-compounds"? I thought the distinction was between standard compounds (word exists with a hyphen in the OED) and nonstandard.

The algorithm isn't doing any distinguishing like that yet. It first finds the set of words in Ulysses that are not in a list of English words, and within words, finds instances where two substring

[2019-10-01 15:31] JonathanReeve commented on #51
Good idea. There are already quite a few of these styles of tags, and they render all kinds of artifacts, like latitudes and longitudes for `<place>` tags. In some cases, I have XSLT that hides them, but there really should be a list of these somewhere, or some other kind of logic to hide them.

[2019-10-07 15:47] sk3853 commented on #51
Hi-
Sorry, when I wrote that I meant that I had difficulties distinguishing
Joycean compound words (buttsmothered) (distinct type= “Joycean”) from
words that are maybe better categorized as nonstandard compounds
(newsboards)(distinct type= “nonstandard-compound”). That wouldn't be a
Joycean, since it's a basic combination of two words, but it's also not in
the OED as news-boards. The compound cate

[2020-01-10 17:30] JonathanReeve commented on #50
I'm trying out text matching between Gilbert and Ulysses. I can identify lots of matches, but the difficulty is coming up with the right XML structure. Here's my best guess so far:

[code]

[2021-10-20 18:56] JonathanReeve commented on #31
I think this one is done, no? Closing, but feel free to reopen otherwise.

[2021-10-20 18:56] #31 closed

[2021-10-24 05:19] JonathanReeve commented on #50
@bnays, happy to see you're interested in working on this one! So over in [the analogous area for Finnegans Wake](https://github.com/open-editions/corpus-joyce-finnegans-wake-tei/tree/master/criticism-analysis), where most of the work is taking place, I've already [made a TEI file with matches between a few hundred articles and the Wake](https://github.com/open-editions/corpus-joyce-finnegans-wake

[2021-10-24 06:59] cOdEeInStEiN123 commented on #26
So sorry to jump in like this .. am very new to contributing .. can anyone direct me to some kind of a guide on how to help??? Thank you

[2021-10-26 23:18] JonathanReeve commented on #26
@cOdEeInStEiN123, welcome! The [guide you want is here](https://open-editions.org/contributing/). Let me know if you have any questions.

[2021-11-18 23:26] JonathanReeve commented on #5
Hi, @Brymmobaggins! Let me know if you have any questions related to this one. I'd imagine that many of these are already done, but that you can find more quotations by looking through Gifford's *Ulysses Annotated*, among other sources.

[2021-11-27 19:38] JonathanReeve commented on #51
Hi, @imrobintomar! Glad to see that you've started work on this issue. Let me know if you have any questions along the way!

[2021-12-20 23:08] JonathanReeve commented on #51
@imrobintomar, could you say what you had in mind for this issue? And do you have any questions?

[2022-01-02 00:24] JonathanReeve commented on #49
Hi @Freitas-Mp! Could you tell me what you had in mind for this issue? I may be able to help you think through it.

[2022-01-18 18:36] JonathanReeve commented on #50
Hi, @sciemesfin! Welcome to the project! Could you tell me what you had in mind for this issue?

[2022-01-18 18:37] JonathanReeve commented on #50
And @bnays, are you still working on this issue?

[2022-02-02 22:14] JonathanReeve commented on #51
@imrobintomar, have you started work on this issue? I don't see anything in your GitHub account about this yet. Please let me know ASAP.

[2022-02-02 22:14] JonathanReeve commented on #51
Hi @Avrnikh-iziki! Could you tell me what you had in mind for this issue?

[2022-02-22 15:28] spykelionel commented on #26
Heloo!, What's the explanatory text we have here?

[2022-02-22 17:53] JonathanReeve commented on #26
The idea is to explain what the prototype does, and what the project is doing, so that if anyone lands on the page, they'll be able to understand what they're seeing. So in order to write this, you should really know all you can about the project, its aims, and the aims of this particular edition.

[2022-02-22 17:54] JonathanReeve commented on #26
This may not be the easiest, or best, issue for a first-time contributor. Maybe you can add some markup to the text, instead?